YOUTUBE_DATA_API_KEY: "***************"
CHANNELS_FILE_PATH: "data/channels.json"
IGNORE_VIDEOS_FILE_PATH: "data/ignore_videos.json"
VIDEOS_DIR_PATH: "data/videos"
QUEUE_DIR_PATH: "data/queue"
COMMENTS_DIR_PATH: "data/comments"
